body, html {
  margin: 0;
  font-family: Underdog, sans-serif;
  height: 100%;
}

body, html {
  height: 100%;
  margin: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.banner {
  color: #4066BF;
  background-color: #62919D;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  -webkit-text-stroke: .001px black;
}

.center {
  background-color: #a17c90;
  padding: 20px;
  margin: 0;
}

.center p {
  padding: 0px 40px;
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
}

.center li {
  list-style: none;
  padding: 5px;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  margin: 0 0 0 -40px;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.bottom {
  background-color: #79DAF2;
  padding: 20px;
  text-align: center;
  flex: 1;
}

.bottom h1 {
  padding: 15px 30px;
  margin: 0;
}

.bottom a {
  padding: 10px;
  text-decoration: none;
  font-size: 30px;
  transition: all 0.05s ; 
  color: #002863;
  line-height: 1.9;
  display: inline-block;
}

.bottom a:hover {
  color: blue;
  transform: rotate(3deg);
}

.bottom p {
  font-size: 24px;
}

.img {
  width: 400px;
}

.bottom2 {
  background-color: #68baed;
  padding: 20px;
  font-family: "Libre Baskerville", serif;
  flex: 1;
}

.bottom2 a {
  text-decoration: none;
  font-size: 30px;
  color: #002863;
  line-height: 1.9;
  text-align: center;
  display: inline-block;
  transition: all 0.05s ;
}

.bottom2 p {
  font-size: 24px;
  color: #7e5fc2;
  -webkit-text-stroke: .5px black;
}

.bottom2 a:hover {
  color: blue;
  transform: rotate(1deg);
}

.img {
  width: 740px;
}